
/* =============================================================== */
/* Group Classes */
/* =============================================================== */

/* Margin */

body,
h2,
p {
  margin: 0;
}

.card-image,
.card-heading,
.card-intro {
  margin-bottom: 30px;
}

/* Font Size */
.card-paragraph,
.card-button {
  font-size: 15px;
}

/* Color */
.card-heading,
.card-paragraph {
  color: hsl(0, 0%, 95%);
}


/* =============================================================== */
/* Individual Classes */
/* =============================================================== */

html {
  font-size: .625rem;
  font-family: 'Lexend Deca', sans-serif;
}

.main-content {
  background-color: hsl(0, 0%, 95%);
  min-height: 100vh;
  min-width: 375px;
  padding: 25px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----- Three Column Preview Card Component ----- */

.three-column-preview-card-component {
  border-radius: 8px;
  overflow: hidden;
  width: 325px;
}

.column {
  padding: 45px;
}

.card-image {
  display: block;
}

.card-heading {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 3rem;
  text-transform: uppercase;
}

.card-paragraph {
  line-height: 1.5;
}

.card-button {
  display: inline-block;
  text-decoration: none;
  background-color: hsl(0, 0%, 95%);
  padding: 10px 20px;
  border-radius: 50px;
  border: 2px solid transparent;
  transition: background-color 250ms, color 250ms, border-color 250ms;
}

/* ----- Sedan Column */

.sedan-column {
  background-color: hsl(31, 77%, 52%);
}

.sedan-button {
  color: hsl(31, 77%, 52%);
}

/* ----- Sedan Column */

.suv-column {
  background-color: hsl(184, 100%, 22%);
}

.suv-button {
  color: hsl(184, 100%, 22%);
}

/* ----- Luxury Column */

.luxury-column {
  background-color: hsl(179, 100%, 13%);
}

.luxury-button {
  color: hsl(179, 100%, 13%);
}

/* =============================================================== */
/* Media Queries */
/* =============================================================== */

/* ----- Media 1024px ----- */

@media ( min-width: 1024px ) {

  /* =============================================================== */
  /* Individual Styles */
  /* =============================================================== */

  /* ----- Three Column Preview Card Component */

  .three-column-preview-card-component {
    display: flex;
    width: 975px;
  }

  .card-intro {
    margin-bottom: 100px;
  }

  .card-button:hover {
    background-color: transparent;
    border-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
  }
}